.padopt_included_options, .padopt_included_options > li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.padopt_options_list {
  display: none;
}

.padopt_options_list, .padopt_options_list ul {
  margin-left: 1em;
}

.padopt_options_list li {
  padding: 0;
  margin: 0;
}

.padopt_options_list ul li::before {
  content: '\2713';
}

.padopt_deleted_field {
  font-style: italic;
  color: red;
}
