.padopt_livecustomizer_viewport, .padopt_livecustomizer_viewport div {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.padopt_livecustomizer_viewport .padopt_spacer {
  position: relative;
}

.padopt_livecustomizer_viewport .padopt_spinner {
  display: none;
  position: absolute;
}
